@import "tailwindcss";

@theme {
  --color-cyber-dark: #0a0a0a;
  --color-cyber-gray: #222222;
  
  --color-cyber-blue: #49cbe3;       
  --color-cyber-blue-dim: #0077b6;   
  
  /* Blue Glow Effects */
  --shadow-glow: 0 0 20px rgba(0, 168, 255, 0.4);
  --shadow-glow-hover: 0 0 40px rgba(0, 168, 255, 0.6);
}

body {
  background-color: var(--color-cyber-dark);
  color: white;
  font-family: 'Inter', sans-serif;
}